<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Roboto+Slab:wght@300;400;700;900&display=swap"
    rel="stylesheet"
  />
   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

   <link rel="preload" href="{{url_for('static', filename='css/normalize.css')}}" as="style" />
   <link rel="stylesheet" href="{{url_for('static', filename='css/normalize,css')}}" />
 <link rel="preload" href="{{url_for('static', filename='css/style.css')}}" as="style" />
 <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <title>Educacion</title>
</head>
<body>
    <header class="header_perfil">
        <h1>EXPERIENCIA</h1>
    </header>

    <div class="nav_container">
        <nav class="navegacion-principal contenedor">
          <a href="/">Inicio</a>
          <a href="/educacion">Educación</a>
          <a href="/proyectos">Proyectos</a> 
          <a href="/contacto">Contacto</a>
        </nav>
      </div>


    <main>

    <section class="seccion-educacion">
        <div>
            <h3>IUNGO</h3>
            <h3>2018-2022</h3>
        </div>
        <p>Analista</p>
        <p>
            -Desarrollo de softwares para el departamento
            de seguridad, orientados a la administración. 
        </p>
        <p> 
            -Verificación y configuración de los dispositivos CCTV.
        </p>
        <p>
            -Consultas en bases de datos SQL Server y
            MySQL.
        </p>
        <p>
            -Dashboards con Data Studio y Power BI.
        </p>

        <div>
            <h3>ZTE Corporation</h3>
            <h3>2016-2018</h3>
        </div>
        <p>Ingeniero Post Venta</p>
        <p>
            -Responsable de la implementación de un anillo de
            tecnología DWDM que cubre gran parte de Honduras,
            para la empresa Reytel. 
        </p>
        <p> 
            -Experiencia en la homologación de equipos ADSL,
            VDSL, MSAM en Claro, marca ZTE.
        </p>
        <p>
            -Responsable de brindar capacitaciones sobre equipos
            ADSL al personal técnico de Claro Guatemala. 
        </p>
        <p>
            -Experiencia en NAT, Direccionamiento IP, Routing,
            Wireless.
        </p>
        <p>
            -Responsable de brindar soporte remoto de equipos
            DWDM y ADSL.
        </p>
        <p>
            -Comunicación con el personal extranjero en idioma
            Inglés
        </p>

        <div>
            <h3>Ericsson de Guatemala</h3>
            <h3>2015-2016</h3>
        </div>
        <p>Supervisor Telecom</p>
        <p>
            -Coordinación de mantenimientos correctivos y
            preventivos a la red de telecomunicaciones de
            Telefónica. 
        </p>
        <p> 
            -Experiencia en la configuraciòn de enlaces
            Microwaves Ericsson, Huawei, Ceragon,
            IPasolink.
        </p>
        <p>
            -Experiencia con equipos DWDM.
        </p>

    <div>
        <h3>ITS Infocom</h3>
        <h3>2014-2015</h3>
    </div>
    <p>Técnico Infrastructura</p>
    <p>
        -Mantenimiento preventivo y correctivo. 
    </p>
    <p> 
        -Se realizaron trabajos adicionales como
        instalación de enlaces microondas ATN 905 y
        ATN950 Huawei.
    </p>
    <p>
        -Enlaces de diversidad de espacio y xpic.
    </p>


    <div>
        <h3>Intelfon de Guatemala S.A.</h3>
        <h3>2012-2013</h3>
    </div>
    <p>Técnico Telecom</p>
    <p>
        -Responsable de los mantenimientos correctivos y
        preventivos de los equipos Motorola, tecnología iDEN.
    </p>
   

    <div>
        <h3>I.S.M.</h3>
        <h3>2007-2012</h3>
    </div>
    <p>Técnico Telecom</p>
    <p>
        -Experiencia en realizar
        mantenimiento preventivo y Correctivo. 
    </p>
    <p>configuraciones en
        equipo utlizado en Tigo; Huawei (Nodo B),
        Ericsson (RBS, Enlaces minilink E, TN) , Nec (V4,
        Neo, IP200, IP400, IP1000), Gabinete TX .
    </p>
    <p> 
        -Experiencia en el área de energía, como Rectificadores
        (Argus,Lorain, Gamatronic, Ericsson, Valere
        Power, Delta).
    </p>
 
    </section>  

</main>

  <!-- apertura footer -->
  <footer id="footer" class="pb-4 pt-4">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-lg">
          <a href="https://www.linkedin.com/in/ottoniel-campos-belteton-41b74760/" target="_blank"><svg
              xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="52"
              height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="4" y="4" width="16" height="16" rx="2" />
              <line x1="8" y1="11" x2="8" y2="16" />
              <line x1="8" y1="8" x2="8" y2="8.01" />
              <line x1="12" y1="16" x2="12" y2="11" />
              <path d="M16 16v-3a2 2 0 0 0 -4 0" />
            </svg></a>
        </div>
        <div class="col-12 col-lg">
          <a href="https://github.com/hutzon" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github" width="52" height="52" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
            </svg></a>
        </div>
        <div class="col-12 col-lg">
          <a href="https://www.facebook.com/ottoniel.belteton" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-facebook" width="52" height="52" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg></a>
        </div>
        <div class="col-12 col-lg">
          <a href="contacto.html" target="_blank"><svg xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-mail" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="3" y="5" width="18" height="14" rx="2" />
              <polyline points="3 7 12 13 21 7" />
            </svg></a>
        </div>

      </div>
    </div>
  </footer>

  <!-- cierre footer -->

</body>
</html>